In [1]:
import pandas as pd

In [2]:
df_train_city = pd.read_csv('../aggregated_data/city_train.tsv', sep='\t', header=0)
df_dev_city = pd.read_csv('../aggregated_data/city_dev.tsv', sep='\t', header=0)
df_test_city = pd.read_csv('../aggregated_data/city_test.tsv', sep='\t', header=0)

In [20]:
df_train_country = pd.read_csv('../aggregated_data/country_train.tsv', sep='\t', header=0)
df_train_region = pd.read_csv('../aggregated_data/region_train.tsv', sep='\t', header=0)

/Users/nurpeiis/miniconda3/envs/hierarchical-did/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/nurpeiis/miniconda3/envs/hierarchical-did/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (1,2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
df_train_region

,original_sentence,dialect_city_id,dialect_province_id,dialect_country_id,dialect_region_id,dataset_name
0,@hassanalishaq73 ستمضي ومعها الاحرار لا الخونة...,NaN,NaN,dz,maghreb,arap_tweet
1,@RM4Arab لوكا مودريتش لزم يكون في أول العب,NaN,NaN,dz,maghreb,arap_tweet
2,في أي شرع تمنع صلاة الجنازة على مسلم !؟ \n#شهي...,NaN,NaN,dz,maghreb,arap_tweet
3,@AyaSaye12120213 احلى بطيخة😂😂😂,NaN,NaN,dz,maghreb,arap_tweet
4,@DzGirl123 وحدة حلابة وشياتة واش يجيني من عندك...,NaN,NaN,dz,maghreb,arap_tweet
...,...,...,...,...,...,...
14805212,لأ بس شغل كثير,NaN,NaN,jo,levant,ldc_la_cts_ann_2007_t04
14805213,ألو,NaN,NaN,ps,levant,ldc_la_cts_ann_2007_t04
14805214,لك واحدة قال مسابقة معكن عن,NaN,NaN,lb,levant,ldc_la_cts_ann_2007_t04
14805215,لا هيدا عم بيتثاقلوا,NaN,NaN,lb,levant,ldc_la_cts_ann_2007_t04
14805216,لأقول لك أي سنة,NaN,NaN,lb,levant,ldc_la_cts_ann_2007_t04

In [21]:
df_train_country

,original_sentence,dialect_city_id,dialect_province_id,dialect_country_id,dialect_region_id,dataset_name
0,@hassanalishaq73 ستمضي ومعها الاحرار لا الخونة...,NaN,NaN,dz,maghreb,arap_tweet
1,@RM4Arab لوكا مودريتش لزم يكون في أول العب,NaN,NaN,dz,maghreb,arap_tweet
2,في أي شرع تمنع صلاة الجنازة على مسلم !؟ \n#شهي...,NaN,NaN,dz,maghreb,arap_tweet
3,@AyaSaye12120213 احلى بطيخة😂😂😂,NaN,NaN,dz,maghreb,arap_tweet
4,@DzGirl123 وحدة حلابة وشياتة واش يجيني من عندك...,NaN,NaN,dz,maghreb,arap_tweet
...,...,...,...,...,...,...
11154090,لأ بس شغل كثير,NaN,NaN,jo,levant,ldc_la_cts_ann_2007_t04
11154091,ألو,NaN,NaN,ps,levant,ldc_la_cts_ann_2007_t04
11154092,لك واحدة قال مسابقة معكن عن,NaN,NaN,lb,levant,ldc_la_cts_ann_2007_t04
11154093,لا هيدا عم بيتثاقلوا,NaN,NaN,lb,levant,ldc_la_cts_ann_2007_t04
11154094,لأقول لك أي سنة,NaN,NaN,lb,levant,ldc_la_cts_ann_2007_t04

In [17]:
df_train_

,original_sentence,dialect_city_id,dialect_province_id,dialect_country_id,dialect_region_id,dataset_name
0,قال من صلى صلاة واحدة صلى الله عليه بها عشرا ص...,msa,msa,msa,msa,madar_shared_task2
1,سبحان الله والحمد لله ولا إله الا الله الله أك...,muscat,muscat,om,gulf,madar_shared_task2
2,( ) ( (,riyadh,riyadh,sa,gulf,madar_shared_task2
3,وفي تجد نفسك فيها الله الله الله الله الله,sfax,sfax,tn,maghreb,madar_shared_task2
4,الله لطيف بعباده يحميك الله في كل بها قريب من ...,msa,msa,msa,msa,madar_shared_task2
...,...,...,...,...,...,...
591225,دولابك ممتلئ بفساتين سهره و لا تحتاجيها و لا ت...,msa,msa,msa,msa,multi_dialect_parallel_corpus
591226,جـــديـــد,msa,msa,msa,msa,multi_dialect_parallel_corpus
591227,و عن شرهن عندما كانوا طيبات و قال الله عنهم إن...,msa,msa,msa,msa,multi_dialect_parallel_corpus
591228,دولت هانم يوجد الكثير لم يفهمون لست أنا فقط,msa,msa,msa,msa,multi_dialect_parallel_corpus
591229,شكر للمحبوبين للمشاركات الجميلة,msa,msa,msa,msa,multi_dialect_parallel_corpus

In [3]:
def get_count(df):
    return df.groupby(['dialect_city_id', 'dialect_country_id'])['original_sentence'].nunique().index.tolist()

In [4]:
train_city_count = get_count(df_train_city)
dev_city_count = get_count(df_dev_city)
test_city_count = get_count(df_test_city)
len(train_city_count)

113

In [13]:
list_a = df_train_city.groupby(['dialect_city_id', 'dialect_country_id'])['original_sentence'].nunique()
for i in range(len(list_a.index)):
    print(list_a.index[i], list_a[i])

('abha', 'sa') 213
('abu_dhabi', 'ae') 214
('aden', 'ye') 213
('agadir', 'ma') 214
('al_hudaydah', 'ye') 213
('al_madinah', 'sa') 213
('al_rayyan', 'qa') 210
('al_suwayda', 'sy') 214
('aleppo', 'sy') 3806
('alexandria', 'eg') 4225
('algiers', 'dz') 8540
('amarah', 'iq') 213
('amman', 'jo') 4489
('annaba', 'dz') 4892
('aqaba', 'jo') 213
('ariana', 'tn') 212
('aswan', 'eg') 3384
('asyut', 'eg') 293
('baghdad', 'iq') 17066
('basra', 'iq') 8624
('bayda', 'ly') 214
('bechar', 'dz') 213
('beirut', 'lb') 19581
('benghazi', 'ly') 4447
('beni_suef', 'eg') 360
('bordj_bou_arreridj', 'dz') 211
('bouira', 'dz') 213
('buraidah', 'sa') 213
('cairo', 'eg') 27232
('damanhur', 'eg') 239
('damascus', 'sy') 3720
('dammam', 'sa') 395
('dhamar', 'ye') 212
('djibouti', 'dj') 210
('doha', 'qa') 24892
('dubai', 'ae') 214
('duhok', 'iq') 213
('el_arish', 'eg') 213
('el_tor', 'eg') 213
('erbil', 'iq') 213
('faiyum', 'eg') 213
('fes', 'ma') 2070
('fujairah', 'ae') 214
('gaza', 'ps') 210
('girga', 'eg') 213
('giza', 'eg') 287
('hail', 'sa') 213
('halba', 'lb') 213
('hawalli', 'kw') 210
('homs', 'sy') 214
('hurghada', 'eg') 211
('ibb', 'ye') 213
('ismailia', 'eg') 483
('jahra', 'kw') 210
('jeddah', 'sa') 6877
('jerusalem', 'ps') 3403
('jijel', 'dz') 212
('jizan', 'sa') 213
('kafr_el_sheikh', 'eg') 213
('kairouan', 'tn') 114
('karbala', 'iq') 212
('khartoum', 'sd') 5741
('khasab', 'om') 211
('khenchela', 'dz') 213
('kut', 'iq') 213
('latakia', 'sy') 197
('luxor', 'eg') 213
('mahdia', 'tn') 212
('manama', 'bh') 210
('mansoura', 'eg') 326
('marrakesh', 'ma') 213
('meknes', 'ma') 214
('minya', 'eg') 290
('misrata', 'ly') 212
('mogadishu', 'so') 202
('mosul', 'iq') 5545
('msa', 'msa') 273338
('muscat', 'om') 19677
('najaf', 'iq') 213
('najran', 'sa') 212
('nizwa', 'om') 213
('nouakchott', 'mr') 209
('oran', 'dz') 213
('ouargla', 'dz') 211
('oujda', 'ma') 207
('port_said', 'eg') 213
('qena', 'eg') 213
('rabat', 'ma') 19082
('ramadi', 'iq') 212
('ras_al_khaimah', 'ae') 214
('riyadh', 'sa') 13465
('salalah', 'om') 213
('salt', 'jo') 4357
('samawah', 'iq') 213
('sanaa', 'ye') 4518
('sfax', 'tn') 3600
('shibin_el_kom', 'eg') 389
('sidon', 'lb') 213
('sohar', 'om') 214
('sousse', 'tn') 212
('suez', 'eg') 213
('sulaymaniyah', 'iq') 211
('sur', 'om') 32
('tabuk', 'sa') 213
('tangier', 'ma') 213
('tanta', 'eg') 213
('tobruk', 'ly') 214
('tripoli', 'lb') 213
('tripoli', 'ly') 3668
('tunis', 'tn') 19906
('umm_al_quwain', 'ae') 214
('zagazig', 'eg') 275
('zarqa', 'jo') 213

In [33]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    lst4 = [value for value in lst1 if (value in lst2) == False]
    lst5 = [value for value in lst2 if (value in lst1) == False]

    return lst3, lst4, lst5

In [40]:
#create level_label_id files
levels = ['city', 'country', 'region']
label_space = pd.read_csv('../labels/final_label_space.tsv', sep='\t', header=0)
#label_space
for i in range(len(levels)):
    level = [label[i:] for label in label_space.values.tolist()]
    labels = []
    #print(level)
    with open(f'../labels/{levels[i]}_label_id.txt', 'w') as f:
        counter = 0
        for j in range(len(level)):
            label = ' '.join(level[j])
            if (label in labels) == False:
                labels.append(label)
                f.write(f'{label},{counter}\n')
                counter += 1

In [35]:
#convert province to non province 
label_space = pd.read_csv('../labels/label_space_with_province.tsv', sep='\t', header=0)
df = label_space.duplicated(['dialect_city_id', 'dialect_country_id'])
label_space = label_space.drop_duplicates(['dialect_city_id', 'dialect_country_id'])
label_space = label_space[['dialect_city_id', 'dialect_country_id', 'dialect_region_id']]
label_space.to_csv('../labels/label_space.tsv', sep='\t', index=False)

In [4]:
#get madar label space
label_space = pd.read_csv('../../hierarchical-did/data_processed_second/madar_shared_task1/MADAR-Corpus-26-train.lines', sep='\t', header=0)
df = label_space.duplicated(['dialect_city_id', 'dialect_country_id'])
label_space = label_space.drop_duplicates(['dialect_city_id', 'dialect_country_id'])
label_space = label_space[['dialect_city_id', 'dialect_country_id', 'dialect_region_id']]
label_space.to_csv('../labels/madar_label_space.tsv', sep='\t', index=False)

levels = ['city', 'country', 'region']
#label_space
for i in range(len(levels)):
    level = [label[i:] for label in label_space.values.tolist()]
    labels = []
    #print(level)
    with open(f'../labels/madar_{levels[i]}_label_id.txt', 'w') as f:
        counter = 0
        for j in range(len(level)):
            label = ' '.join(level[j])
            if (label in labels) == False:
                labels.append(label)
                f.write(f'{label},{counter}\n')
                counter += 1

In [14]:
df = pd.read_csv('../../hierarchical-did/data_processed_second/nadi/train_labeled.lines', sep='\t', header=0)

In [16]:
df.groupby(['dialect_city_id', 'dialect_country_id'])['original_sentence'].nunique()

dialect_city_id  dialect_country_id
abha             sa                    213
abu_dhabi        ae                    214
aden             ye                    213
agadir           ma                    214
al_hudaydah      ye                    213
                                      ...
tobruk           ly                    214
tripoli          lb                    213
                 ly                    214
umm_al_quwain    ae                    214
zarqa            jo                    213
Name: original_sentence, Length: 100, dtype: int64

In [18]:
df = pd.read_csv('../../hierarchical-did/data_processed_second/madar_shared_task1/MADAR-Corpus-6-train.lines', sep='\t', header=0)

In [19]:
import os 
model = '../../hierarchical-did/data_processed_second/madar_corpus6_extra'
files = os.listdir(model)
for file in files:
    
df

,original_sentence,dialect_city_id,dialect_province_id,dialect_country_id,dialect_region_id
0,شناهوا م تخصص هذا المطعم اليوم ؟,rabat,rabat_sale_kenitra,ma,maghreb
1,جو لطيف .,msa,msa,msa,msa
2,انبسطت كتير بمعرفتك .,beirut,beirut,lb,levant
3,وايتر ، بتجيب الحساب إذا بتريد ؟,beirut,beirut,lb,levant
4,إذا بتريد تركني .,beirut,beirut,lb,levant
...,...,...,...,...,...
53995,هيدي الجولة نص نهار ؟,beirut,beirut,lb,levant
53996,أعذرني ، امتى الطيارة توصل طوكيو ؟,cairo,cairo,eg,nile_basin
53997,فيه صندوق بريد قريب من هنا ؟,cairo,cairo,eg,nile_basin
53998,هل انتهيت من غدائك ؟,msa,msa,msa,msa
53999,ولا مرة شفت مكان شرح جذي .,doha,doha,qa,gulf